*{
    margin: 0;
    padding: 0;
}

table{
    text-align: center;
}

@media (max-width: 576px) {
    *{
        font-size: 4px;
    }

    img{
        width: 60%;
    }

    button{
        margin: 5px;
    }

    .d-flex .form-control{
        margin: 1px;
        width: 30%;
    }


    .modal-content{
        width: 200px;
        position: relative;
        left: 180px;
        top: 100px;
    }
}


@media (min-width: 576px) { 
        *{
            font-size: 5px;
        }

        img{
            width: 60%;
        }

        button{
            margin: 5px;
        }

        .d-flex .form-control{
            margin: 1px;
            width: 30%;
        }


        .modal-content{
            width: 200px;
            position: relative;
            left: 150px;
            top: 100px;
        }

}


@media (min-width: 768px) { 
   
    *{
        font-size: 8px;
    }

    .d-flex .form-control{
        margin: 1px;
        width: 30%;
    }


    .modal-content{
        width: 250px;
        position: relative;
        left: 130px;
        top: 80px;
    }
 }


@media (min-width: 992px) { 
    *{
        font-size: 10px;
    }

    .d-flex .form-control{
        margin: 1px;
        width: 30%;
    }


    .modal-content{
        width: 320px;
        position: relative;
        left: 100px;
        top: 80px;
    }
 }


@media (min-width: 1200px) { 
    *{
        font-size: 12px;
    }

    .d-flex .form-control{
        margin: 1px;
        width: 30%;
    }


    .modal-content{
        width: 380px;
        position: relative;
        left: 60px;
        top: 80px;
    }
 }


@media (min-width: 1400px) { 
    *{
        font-size: 15px;
    }

    .d-flex .form-control{
        margin: 1px;
        width: 30%;
    }


    .modal-content{
        width: 500px;
        position: relative;
        left: 20px;
        top: 80px;
    }
 }