<nav class="nav flex-column">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" alt="Avatar Logo"  class="rounded-pill">
    </a>
    <a class="nav-link mx-auto mt-3" href="#"><i class="fa-regular fa-user"></i> Clients</a>
    <a class="nav-link disabled mt-3" href="#">Clients look history</a>
    <a class="nav-link disabled mt-3" href="#">Emergency PIN configuration</a>
    <a class="nav-link disabled mt-3" href="#">Emergency PIN history</a>
  </div>
</nav>
