<ng-template #content let-c="close" let-d="dismiss">

  <div class="container card bg-dark text-white">
    <div class="card-body">

      <div class="form-group row mt-3 justify-content-end">
        <button type="button" class="btn-close btn btn-light" aria-label="Close" (click)="d('Cross click')"></button>
      </div>

      <form #form_reset (ngSubmit)="create(form_reset)">
        <div class="form-group row mt-2">
          <label for="id" class="col-form-label col-sm-3">Shared Key</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.id" name="id" required>
          </div>
        </div>

        <div class="form-group row mt-2">
          <label for="nombre" class="col-form-label col-sm-3">Business ID</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required>
          </div>
        </div>

        <div class="form-group row mt-2">
          <label for="email" class="col-form-label col-sm-3">E-mail</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" required>
          </div>
        </div>

        <div class="form-group row mt-2">
          <label for="telefono" class="col-form-label col-sm-3">Phone</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.telefono" name="telefono">
          </div>
        </div>

        <div class="form-group row mt-2">
          <label for="fecha" class="col-form-label col-sm-3">Date Added</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" [(ngModel)]="cliente.fecha" name="fecha">
          </div>
        </div>

        <div class="form-group row mt-2 justify-content-end">
          <div class="col-sm-2">
            <button class="btn btn-primary" role="button" (click)="c('Save click')">OK</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</ng-template>

<div class="mb-4 mt-5 ms-2">
    <button type="button" class="btn btn-primary me-4" (click)="open(content)"><i class="fa-solid fa-square-plus"></i> New</button>
    <button type="button" class="btn btn-primary"><i class="fa-solid fa-file-arrow-down"></i> Export</button>
</div>